input, button,textarea{
    display: block;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    color: rgb(82, 171, 152);
}
.Cancel-btn{
    background-color: red;
}