<p class="pt-4"></p>

<div class="d-flex justify-content-center pt-5">
    <table class="text-start">
        <thead>
            <h1 style="display: inline-block;">Product list</h1>
            <tr>
                <th>image</th>
                <th>Name</th>
                <th>price</th>
                <th>color</th>
                <th>catagory</th>
                <th>description</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList" class="border">
                <td><img src="{{item.image}}" alt="product image"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td class="discription">{{item.catagory}}</td>
                <td>{{item.discription}}</td>
                <td> <button class="edit-btn" routerLink="/sellerUpdateProduct/{{item.id}}">edit</button> 
                    <button (click)="deleteProduct(item.id)" class="delete-btn">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
