<div class="pt-4">
    <p></p>
</div>
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a [routerLink]="['/productPage']" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <!-- <p class="mb-0">You have 4 items in your cart</p> -->
                  </div>
                  <div>
                    <!-- <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                        class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p> -->
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let cart of cartData">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{cart.image}}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{cart.name}}</h5>
                          <p class="small mb-0">{{cart.color}}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">{{cart.quantity}}</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">Rs.{{cart.price}}</h5>
                        </div>
                        <a (click)="removeCartItem(cart.id)" style="color: #cecece;"><i class="fi fi-rs-cross-small cross-icon"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <p class="m-auto">summary:</p>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Amount</p>
                      <p class="mb-2">Rs.{{priceSummary.price}}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">tax(18%)</p>
                      <p class="mb-2">Rs.{{priceSummary.tax}}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">Rs.{{priceSummary.shipping}}</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">Rs.{{priceSummary.total}}</p>
                    </div>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        
                        <span (click)="Checkout()">Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
