<div class="main-container position-relative flex-wrap">
    <img class="z-n1" src="/assets/images/ecommBgImage.jpg" alt="">
    <div class="cover-img position-absolute top-0 start-0 bottom-0 end-0">
    </div>
    <div class="heading-container border">
       <div class=" p-5">
            <p class="heading">Grab 30% Discount</p>
            <p class="heading">On Selected Product</p>
            <p class="description fs-5 m">
                Welcome to EverGlow, your one-stop destination for all your needs!"
            </p>
            <button [routerLink]="['/productPage']">Shop Now</button>
       </div>
    </div>
</div>

